rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
      allow read, create: if true
      allow update: if request.auth.uid == user_id;
    }
    match /items/{item_id} {
      allow read: if true
      allow create, update: if request.auth != null;
    }
  }
}

//users collection
// - any authenticated user can read & create
// - only users who 'own / created' a document can update it (user id's match)


//item collection 
// - all users can read a document
// - any authenticated user can create & update(make a comment) a document
// - only users who 'own/created' a document can update the item details(user id's match)